services:
  mimascota:
    build: .
    restart: always
    expose:
      - "3000"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.mimascota.rule=Host(`mimascota.gridstudio.app`)"
      - "traefik.http.services.mimascota.loadbalancer.server.port=3000"
      - "traefik.http.routers.mimascota.entrypoints=websecure"
      - "traefik.http.routers.mimascota.tls.certresolver=letsencrypt"
