services:
  mimascota:
    build:
      context: .
      args:
        VITE_API_URL: ${VITE_API_URL}
    restart: always
    
    networks:
      - dokploy-network
    deploy:
      replicas: 3 
      labels:
        - "traefik.enable=true"
        - "traefik.docker.network=dokploy-network"
        - "traefik.http.routers.mimascota.rule=Host(`mimascota.gridstudio.app`)"
        - "traefik.http.services.mimascota.loadbalancer.server.port=3000"
        - "traefik.http.routers.mimascota.entrypoints=web,websecure"
        - "traefik.http.routers.mimascota.tls.certresolver=letsencrypt"
    environment:
      - NODE_ENV
      - PORT
      - JWT_SECRET
      - API_NOTICIAS_URL
      - VITE_API_URL
      - DB_DIALECT
      - DB_HOST
      - DB_PORT
      - DB_NAME
      - DB_USER
      - DB_PASSWORD
      - DB_ENCRYPT
      - SQL_COL_ROL
      - SQL_LOGGING
      - CORS_ORIGENES
networks:
  dokploy-network:
    external: true
